body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    border: 2px solid;
    text-align: center;
    background-color:#ddd;
}
.menu {
    text-align: center;
}
.menu table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}
.menu th, .menu td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.menu th {
    background-color: #f2f2f2;
}
.order-section {
    text-align: center;
    margin-top: 20px;
}
input, select {
    padding: 5px;
    margin: 5px 0;
}
button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}

h3{
    border: 2px solid;
    background-color: #ddd;
}